%head
  %meta{:charset => "utf-8"}
  %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}

  %title Lessons

  = csrf_meta_tags

  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
